@import 'base.scss';
@import 'icon.scss';
.modal-wrap {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 999;
  }
  .modal-inner {
    width: vw(576);
    height: vw(746);
    line-height: 2em;
    padding: 0 vw(30);
    position: fixed;
    color: #4a4a4a;
    background: #fff;
    top: 50%;
    left: 50%;
    margin-left: vw(-288);
    margin-top: vw(-374);
    border-radius: vw(20);
  }
  .modal-inner .tit {
    height: vw(100);
    line-height: vw(100);
    font-size: vw(32);
    color: #000;
    text-align: center;
  }
  .modal-inner img {
    width: vw(512);
    height: vw(247);
    margin: 0 auto vw(40);
  }
  .buttonIcon {
    width: 80%;
    height: vw(80);
    line-height: vw(80);
    background: #1484ff;
    color: #f2fcfa;
    font-size: vw(32);
    text-align: center;
    margin: vw(60) auto auto;
    border-radius: vw(40);
  }
/* 图片预览 */
.preview>span{
  display: inline-block;
  width: vw(50);
  height: vw(50);;
  position: fixed;
  z-index: 9999;
  right: vw(20);
  top: vw(20);
  font-size: vw(42);
  color: #fff;
}
.preview img{
    top:50%; /*左上角向下移动到外面div的高度的一半*/
    position:absolute;
    transform:translateY(-50%);
}
/* 步骤 */
.step{
  width: vw(720);
  height:vw(100);
  line-height: vw(100);
  margin: vw(40) vw(25) vw(5) vw(30);
  overflow: hidden;
}
.step .item{
    height: 100%;
    position: relative;
}
.step .item .name{
    line-height: 1em;;
    position: absolute;
    bottom: 0;
    left: 0;;
}
.step div{
 float: left
}
.circle {
  width:vw(56);
  height:vw(56);
  line-height: vw(56);
  box-sizing:content-box;
  margin: 0 vw(6);
  text-align: center;
  position: relative;
  color: #fff;
}

.circle .icon{
  display: block;
  font-size: vw(56);
  color: #ccc;
}
.circle.active .icon{
  color: #1484FF;
}
.circle .num{
  display: block;
  width:vw(56);
  height:vw(56);
  line-height: vw(56);
  position: absolute;
  top: vw(2);
  left: 0;
  z-index: 9;
  text-align: center;
}
.line{
  width: vw(133);
  height: vw(2);
  background: #ccc;
  margin:vw(26) 0;
}
.line.hide{
  width: vw(36);
  opacity: 0;
}